{% extends 'base.html.twig' %}

{% block title %}New MusicCategory{% endblock %}

{% block body %}
    <h1>Create new MusicCategory</h1>

    {{ include('music_category/_form.html.twig') }}

    <a href="{{ path('app_music_category_index') }}">back to list</a>
{% endblock %}
