{% extends 'base.html.twig' %}

{% block title %}HallMember index{% endblock %}

{% block body %}
    <h1>HallMember index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for hall_member in hall_members %}
            <tr>
                <td>{{ hall_member.id }}</td>
                <td>
                    <a href="{{ path('app_hall_member_show', {'id': hall_member.id}) }}">show</a>
                    <a href="{{ path('app_hall_member_edit', {'id': hall_member.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="2">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_hall_member_new') }}">Create new</a>
{% endblock %}
