{% extends 'base.html.twig' %}

{% block title %}HallMember{% endblock %}

{% block body %}
    <h1>HallMember</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ hall_member.id }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_hall_member_index') }}">back to list</a>

    <a href="{{ path('app_hall_member_edit', {'id': hall_member.id}) }}">edit</a>

    {{ include('hall_member/_delete_form.html.twig') }}
{% endblock %}
