<form method="post" action="{{ path('app_profil_delete', {'id': profil.id}) }}" onsubmit="return confirm('Vous êtes sur le point de supprimer votre compte, êtes-vous sûre de vouloir continuer ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ profil.id) }}">
    <button class="btn">Delete</button>
</form>
