{% extends 'base.html.twig' %}

{% block title %}Edit Profil
{% endblock %}

{% block body %}

	<div class="user-contain  py-20 bg bg-slate-100">
		<div class="form-edit bg-white ml-36 p-10 rounded-l-md shadow-lg">
			<div class="w-3/5">
				{{ include('profil/_form.html.twig', {'button_label': 'Update'}) }}
			</div>
		</div>
	</div>
</div>{% endblock %}
