{% extends 'base.html.twig' %}

{% block title %}Edit Band
{% endblock %}

{% block body %}

		<div class="user-contain bg-slate-100">
			<div class="form-edit bg-white p-10 rounded-xl shadow-lg">
			<div class="w-flex">
				{{ include('band/_form.html.twig', {'button_label': 'Update'}) }}
			</div>
			</div>
		</div>

{% endblock %}
