{% extends 'base.html.twig' %}

{% block title %}Band
{% endblock %}

{% block body %}

	<div class="user-contain px-5 lg:px-28 py-5 bg-slate-100">
		{% include "band/show-modules/_header.html.twig" %}
		{% if isAdmin or isMember %}
			{% if band.bandInfo.ZipCode is null %}
				<div class="bg-red-100 mt-3  rounded-md border border-red-500">
					<p class="text-red-500 font-bold py-2 px-3">⚠️ Il est conseillé de remplir
						<a href="{{ path('app_band_infos', {'id': band.id}) }}" class="underline text-blue-700 hover:no-underline	hover:text-blue-500">vos informations</a>
						pour en informer les salles de concert que vous souhaitez démarcher
					</p>
				</div>
			{% endif %}
		{% endif %}
		<container class="tab_project">
			{% if isAdmin or isMember %}
				<section class="my-3">
					<div class="lg:flex lg:relative">
						<div class=" calendar bg-slate-700  text-white p-5 rounded-md lg:mr-3 mb-3 lg:mb-0">
							<div class="flex justify-between pb-3">
								<button id="prevMonth" class="arrow-left text-white rounded-full bg-slate-500 font-bold  px-2 mx-1">&#10094;</button>
								<div id="monthYearHeader"></div>
								<button id="nextMonth" class="arrow-right text-white rounded-full bg-slate-500 font-bold  px-2 mx-1">&#10095;</button>
							</div>
							<div id="calendrier"></div>
						</div>
						<div id="eventModal" class="modal  bg-white rounded-md shadow-md lg:absolute mb-3">
							<div class="modal-content"></div>
						</div>
						{% include "band/show-modules/_add_date.html.twig" %}
					</div>
				</section>
			{% endif %}
			<section class="lg:flex lg:justify-between">
				<div class="md:w-full lg:w-1/2 lg:mr-3 bg-white rounded-md shadow-md  ">
					<div class="flex justify-between item-align bg-slate-700 relative rounded-t-md">
						<h4 class=" text-white p-2 ">Prochains évènements</h4>
						<div class="flex absolute right-2 top-2">
							<div id="arrow-left" class="arrow-left text-white rounded-full bg-slate-500 font-bold  px-2 mx-1">&#10094;</div>
							<div id="arrow-right" class="arrow-right text-white rounded-full bg-slate-500 font-bold  px-2 mx-1">&#10095;</div>
						</div>
					</div>
					{% set count = 0 %}
					{% for events in eventCome %}
						{% if events.status == 1 %}
							{% set count = count + 1 %}
						{% endif %}
					{% endfor %}
					{% set widthPercentage = count * 100 %}
					{% include "band/show-modules/_come_events.html.twig" %}
				</div>
				<div class="md:w-full lg:w-1/2 bg-white rounded-md shadow-md mt-3 md:mt-0 ">
					<h4 class="bg-slate-700 text-white p-2 rounded-t-md">Dernier évènement</h4>
					<div class=" flex justify-between">
						{% include "band/show-modules/_last_events.html.twig" %}
					</div>
				</div>
			</section>
		</container>
		<section class="my-3">
			<div class="flex justify-between item-align bg-slate-700 relative rounded-t-md">
				<h4 class=" text-white p-2 ">Membres</h4>
			</div>
			<div class="bg-white rounded-b-lg shadow-md p-3">
				{% include "band/show-modules/_members.html.twig" %}

				{% if isAdmin %}
					<a href="{{ path('app_band_members', {'id': band.id}) }}" class="text-slate-400 hover:text-blue-500 ">
						<button class="bg-slate-700 rounded-full px-2 pb-1 mr-4 text-white font-bold hover:bg-blue-500">+</button>
						Ajouter un nouveau membre
					</a>
				{% endif %}

			</div>
		</section>
	</div>

</div>
{% include "band/js/calendar.html.twig"  %}
{% include "band/js/delete_notif.html.twig" with {band:band} %}{% endblock %}
