{% extends 'base.html.twig' %}

{% block title %}Edit BandMember{% endblock %}

{% block body %}
	<div class="user-contain min-h-screen">

<p>{{ coucou }}</p>
<a href="{{ path('app_admin_user')}}">Utilisateurs</a>
<a href="{{ path('app_admin_band')}}">Bands</a>
<a href="{{ path('app_admin_hall')}}">Halls</a>
</div>
{% endblock %}
