{% extends 'base.html.twig' %}

{% block title %}Edit BandInfo
{% endblock %}

{% block body %}
	
		<div class="user-contain py-20 bg bg-slate-100">
			<div class="form-edit bg-white ml-36 p-10 rounded-l-xl shadow-lg">
				{{ include('band_info/_form.html.twig', {'button_label': 'Update'}) }}
			</div>
		</div>



	{# {{ include('band_info/_delete_form.html.twig') }} #}


{% endblock %}
