@tailwind base;
@tailwind components;
@tailwind utilities;

.list-category{
    flex-wrap: wrap;
}

.formulaire{
    display: flex;
    flex-direction: column;
    
}

.intro-login{
width: 60%;
padding: 15px;
}

.form-login{
    width: 27%;
    padding:3%;
    text-align: center;
}

.form-login-container{
    display: flex;
    justify-content: space-evenly;
    padding: 7% 0;
}

.pic_profil {
    position: relative;
    width: 150px;
    height: 150px;
    overflow: hidden;
    border-radius: 15px;
    margin-right: 20px;
}

.user-img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover; /* Centrer et cacher les parties qui dépassent */
}

.img-member-db{
    position: relative;
    width: 70px;
    height: 70px;
    overflow: hidden;
    border-radius: 100%;
    margin-right: 20px;


}

.list-member-event{

    margin: 10px 15px 10px 70px;
}

.img-project-db{
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 100%;
    margin-right: 20px;
}

.open {
    display: none;
}

.clic:hover {
    cursor: pointer;
}

.img-profil-event{
    position: relative;
    width: 30px;
    height: 30px;
    overflow: hidden;
    border-radius: 100%;
    margin-right: 20px;
}

.img-member-db img, .img-project-db img, .img-profil-event img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* .card-event-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.card-event{
    width: 49.5%;
    margin: 15px 0;
} */

.event-confirm-db{
    width: 48%;

}

.event-confirm-db-container{
    width: 100%;
    overflow: hidden;
    position: relative;
}


.event-confirm-db-content{
    display: flex;
    position: relative;
    /* width: 200%; */
left: 0%;}

.card-event-list{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.card-event-db{
    width: 100%;
}

.card-event{
    width: 40%;
    margin: 15px 0;
}



@media screen and (max-width: 1200px) {
    .card-event {
        width: 100%;
        margin: 15px 0;
    }
    
}



.nav-edit-profil{
    position: relative;
}

.nav-contain{
    text-align: right;
    position: absolute;
    transform: translate(0, -50%);
    right: 0;
    top : 20%
}

.btn-gerer{
    background-color: rgb(196, 196, 196);
    padding: 5px 7px;
    border-radius: 5px;
    color: white;
    transition: 0.3s;
}

.btn-gerer:hover{
    background-color: rgb(59, 130, 246);
}

.checkbox-item {
    display: flex;
    align-items: center; 
    justify-content: space-between;
    margin: 5px 0;
}

table {
    border-collapse: separate;
    border-spacing: 0 15px; /* Ajustez la valeur de la deuxième propriété selon vos besoins */
}

.hover-nav-rechercher, .hover-nav-profile, .hover-nav-deconnexion{
width: 24px;
height: 24px;
    overflow: hidden;
    transition: 0.3s;
    position: relative;

}

.hover-nav-deconnexion:hover{
    width: 130px;
}

.hover-nav-profile:hover{
    width: 86px;
}

.hover-nav-rechercher:hover{
    width: 120px;
}

.item-content-nav{
 position: absolute;
 right: 0;
}

.item-content-nav p{
    padding-right: 10px;
}

.user-sidebar{
    min-width: 200px;
    /* padding: 0 10px; */
}

.user-contain{
    width: 100%;
}

.nav-side-bar li{
    padding: 10px ;
    margin:5px 2px;
    border-radius: 5px;
    display: flex;
    transition: 0.3s;
    position: relative;
}

.nav-side-bar li:hover, .nav-side-bar li:hover .triangle{
    background-color: rgba(255, 255, 255, 0.116);
    color: rgb(78, 193, 247);
}

.triangle {
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 10px;
    border-color: rgba(255, 0, 0, 0) rgba(0, 0, 255, 0) rgba(255, 217, 0, 0) rgb(8, 47, 73) ;
    position: absolute;
    right: 0;
    transform: translate(100%,10%);
  }

  .sous-nav {
    display: none;
  }

  .search-member, .role-select {
    display: none;
}



#calendrier {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /* gap: 5px; */
}

.day {
    border-bottom: 1px solid #ccc;
    padding: 3px;
    font-size: 15px;
    text-align: center;
}



.previous-month-day,
.next-month-day {
    opacity:0.5;
}

.event-day {
    background-color: rgb(132, 176, 241); 
    cursor:pointer;
    color: white; 
}
