{% extends 'base.html.twig' %}

{% block title %}Mentions Légales
{% endblock %}

{% block body %}
	<div class="user-contain px-5 lg:px-28 py-5 bg-slate-100">

		<h1 class="font-bold text-4xl text-slate-700 mb-5">Conditions Générales d'Utilisation

		</h1>

		<h2 class="font-bold text-xl text-slate-700 mb-3 mt-5">Objet :</h2>

		<p>
			Les présentes conditions générales d'utilisation ont pour objet de définir les modalités et conditions d'accès et d'utilisation du site www.symtour.fr (ci-après désigné « le Site »), ainsi que les services proposés sur ce dernier.
		</p>

		<h2 class="font-bold text-xl text-slate-700 mb-3 mt-5">Acceptation des Conditions d'Utilisation :</h2>
		<p>
			Toute personne accédant au Site et/ou utilisant les services proposés sur celui-ci (ci-après désignée « l'Utilisateur ») reconnaît avoir pris connaissance et accepté sans réserve les présentes conditions générales d'utilisation.
		</p>

		<h2 class="font-bold text-xl text-slate-700 mb-3 mt-5">Accès au Site :</h2>

		<p>L'accès au Site est libre et gratuit, en tout lieu et à tout Utilisateur disposant d'un accès à Internet. Les frais liés à l'accès et à la navigation sur le Site sont à la charge exclusive de l'Utilisateur.</p>

		<h2 class="font-bold text-xl text-slate-700 mb-3 mt-5">Responsabilité :</h2>

		<p>L'éditeur du Site s'efforce de fournir des informations exactes et à jour, mais ne saurait être tenu responsable en cas d'erreur, d'omission ou de retard dans la mise à jour de ces informations. L'utilisation des informations disponibles sur le Site se fait sous la seule responsabilité de l'Utilisateur</p>

		<h2 class="font-bold text-xl text-slate-700 mb-3 mt-5">Propriété intellectuelle :</h2>

		<p>Tous les éléments du Site, qu'ils soient visuels ou sonores, y compris la technologie sous-jacente, sont protégés par le droit d'auteur, des marques ou des brevets. Ils sont la propriété exclusive de Mr Mazenc Diégo ou de ses partenaires.</p>

		<h2 class="font-bold text-xl text-slate-700 mb-3 mt-5">Liens hypertextes :</h2>
		<p>Le Site peut contenir des liens hypertextes vers d'autres sites internet. La responsabilité de Mr Mazenc Diégo ne saurait être engagée quant au contenu de ces sites ou aux dommages pouvant résulter de leur utilisation.</p>

		<h2 class="font-bold text-xl text-slate-700 mb-3 mt-5">Modification des Conditions d'Utilisation :</h2>
		<p>Les présentes conditions générales d'utilisation peuvent être modifiées à tout moment par Mr Mazenc Diégo. Les Utilisateurs du Site sont donc invités à les consulter régulièrement.</p>

		<h2 class="font-bold text-xl text-slate-700 mb-3 mt-5">Droit applicable et attribution de juridiction :</h2>
		<p>Tout litige en relation avec l'utilisation du site est soumis au droit français. Il est fait attribution exclusive de juridiction aux tribunaux compétents de Paris, France.</p>


		<h2 class="font-bold text-xl text-slate-700 mb-3 mt-5">Contact :</h2>
		<p>Pour toute question ou demande d'information concernant les présentes conditions générales d'utilisation, vous pouvez nous contacter à l'adresse suivante : 2 rue de la Chèvre, 69370 Saint Didier au Mont d'Or.</p>

	</div>
{% endblock %}
