{% extends 'base.html.twig' %}

{% block title %}Mentions Légales
{% endblock %}

{% block body %}
	<div class="user-contain px-5 lg:px-28 py-5 bg-slate-100">

		<h1 class="font-bold text-4xl text-slate-700 mb-5">Mentions Légales</h1>

		<h2 class="font-bold text-xl text-slate-700 mb-3 mt-5">Éditeur du Site :</h2>

		<p>
			Diégo Mazenc
			<br>
			Adresse : 2 rue de la chèvre, 69370 Saint Didier au Mont d'Or
			<br>
			Téléphone : 06 27 79 49 77
			<br>
			Email : contact@diego-mazenc.com
		</p>

		<h2 class="font-bold text-xl text-slate-700 mb-3 mt-5">Hébergement :</h2>
		<p>
			OVH GROUPE<br>
			2 RUE KELLERMANN 59100 ROUBAIX
			<br>
			siret : 53740792600014
		</p>

		<h2 class="font-bold text-xl text-slate-700 mb-3 mt-5">Conditions d'utilisation :</h2>

		<p>L'utilisation du site implique l'acceptation pleine et entière des conditions générales d'utilisation décrites ci-après. Ces conditions d'utilisation sont susceptibles d'être modifiées ou complétées à tout moment.</p>

		<h2 class="font-bold text-xl text-slate-700 mb-3 mt-5">Informations Personnelles :</h2>
		<p>Les informations recueillies font l'objet d'un traitement informatique destiné à la gestion des commandes. Les données collectées ne seront pas transmises à des tiers. Conformément à la loi « informatique et libertés » du 6 janvier 1978 modifiée, vous bénéficiez d'un droit d'accès et de rectification aux informations qui vous concernent.</p>

		<h2 class="font-bold text-xl text-slate-700 mb-3 mt-5">Propriété intellectuelle :</h2>

		Tous les éléments du site, qu'ils soient visuels ou sonores, y compris la technologie sous-jacente, sont protégés par le droit d'auteur, des marques ou des brevets. Ils sont la propriété exclusive de Mr Mazenc Diégo ou de ses partenaires.

		<h2 class="font-bold text-xl text-slate-700 mb-3 mt-5">Cookies :</h2>
		<p>Le site peut être amené à vous demander l'acceptation des cookies pour des besoins de statistiques et d'affichage. Un cookie est une information déposée sur votre disque dur par le serveur du site que vous visitez.</p>

		<h2 class="font-bold text-xl text-slate-700 mb-3 mt-5">Limitations de responsabilité :</h2>
		<p>Nous ne garantissons pas l'exactitude, l'exhaustivité ou la fiabilité des informations fournies sur ce site, et l'utilisation de ces informations se fait à vos propres risques. Nous ne sommes pas responsables des dommages directs, indirects, accidentels, spéciaux ou consécutifs découlant de l'utilisation de ce site ou de l'incapacité à l'utiliser. Nous n'assumons aucune responsabilité pour les contenus des sites tiers liés à partir de ce site. Nous ne garantissons pas que ce site sera accessible de manière continue et sans interruption, et nous ne serons pas responsables des interruptions de service ou des dysfonctionnements techniques.</p>


		<h2 class="font-bold text-xl text-slate-700 mb-3 mt-5">Droit applicable et attribution de juridiction :</h2>
		<p>Tout litige en relation avec l'utilisation du site est soumis au droit français. Il est fait attribution exclusive de juridiction aux tribunaux compétents de Paris, France.</p>


		<h2 class="font-bold text-xl text-slate-700 mb-3 mt-5">Les principales lois concernées :</h2>
		<p>Loi n° 78-17 du 6 janvier 1978, notamment modifiée par la loi n° 2004-801 du 6 août 2004 relative à l'informatique, aux fichiers et aux libertés.</p>
		<p>Loi n° 2004-575 du 21 juin 2004 pour la confiance dans l'économie numérique.</p>

		<h2 class="font-bold text-xl text-slate-700 mb-3 mt-5">Lexique :</h2>
		<p>Utilisateur : Internaute se connectant, utilisant le site susnommé.</p>

		<h2 class="font-bold text-xl text-slate-700 mb-3 mt-5">Contact :</h2>

		<p>
			Diégo Mazenc
			<br>
			Adresse : 2 rue de la chèvre, 69370 Saint Didier au Mont d'Or
			<br>
			Téléphone : 06 27 79 49 77
			<br>
			Email : contact@diego-mazenc.com
		</p>

	</div>
{% endblock %}
