{% extends 'base.html.twig' %}

{% block title %}New Hall
{% endblock %}

{% block body %}
	{% set isMember = false %}
	{% for member in hall.hallMembers %}
		{% if is_granted('hall_member_view', member)%}
			{% set isMember = true %}
		{% endif %}
	{% endfor %}
	<div class="user-contain bg-slate-100">
		<div class="form-edit bg-white  p-5 md:p-10 rounded-xl shadow-lg">
			<div class="w-flex">
				{% for message in app.flashes('success') %}
					<div class="bg-green-100">
						<p class="text-green-500 font-bold py-2 px-3">{{ message }}</p>
					</div>
				{% endfor %}

				{{ include('hall/_form.html.twig', {'button_label': 'Enregistrer'}) }}
				{% set isMember = false %}
				{% for member in hall.hallMembers %}
					{% if is_granted('hall_member_view', member)%}
						{% set isMember = true %}
					{% endif %}
				{% endfor %}

				{% if isMember %}

					{% else %}
						<div class="flex items-center justify-center">
							<a href="{{ path('app_hall_delete', {'id': hall.id}) }}" class="text-center w-full  border-2 border-red-200 hover:border-red-500 hover:bg-red-300 rounded-lg p-2 duration-300" onclick="return confirm('Voulez-vous vraiment supprimer cette salle ?')">Fermer La salle</a>
						</div>
				{% endif %}

			</div>
		</div>
	</div>
{% endblock %}
