
{% extends 'base.html.twig' %}

{% block title %}New Hall{% endblock %}

{% block body %}
    <h1>Create new Hall</h1>
    <div class="edit-band  flex bg-sky-950 ">
		<div class="nav-edit-band basis-1/4 bg-sky-950 p-5 h-screen text-white">
			<ul>
				<li>Identité</li>
				<li>Informations</li>
				<li>Membres</li>
				<li>Matériel</li>
				<li>Discographie</li>
			</ul>
		</div>
		<div class="form-contain basis-3/4  py-20 bg bg-slate-100">
        <div class="form-edit bg-white ml-36 p-10 rounded-l-xl shadow-lg">
   {{ include('hall/_form.html.twig', {'button_label': 'Update'}) }}
        </div>
        </div>
	</div>


    <a href="{{ path('app_hall_index') }}">back to list</a>
{% endblock %}
