{% extends 'base.html.twig' %}

{% block title %}New Hall
{% endblock %}

{% block body %}
	{% set isMember = false %}
	{% for member in hall.hallMembers %}
		{% if is_granted('hall_member_view', member)%}
			{% set isMember = true %}
		{% endif %}
	{% endfor %}
	<div class="user-contain py-20 bg bg-slate-100">
		<div class="form-edit bg-white ml-36 p-10 rounded-l-xl shadow-lg">
			{% for message in app.flashes('success') %}
				<div class="bg-green-100">
					<p class="text-green-500 font-bold py-2 px-3">{{ message }}</p>
				</div>
			{% endfor %}
			{% if isMember %}
				{{ include('hall/_form.html.twig', {'button_label': 'Vous devez être Admin pour modifier les informations'}) }}
			{% else %}
				{{ include('hall/_form.html.twig', {'button_label': 'Enregistrer'}) }}
			{% endif %}
		</div>
	</div>
{% endblock %}
