{% extends 'base.html.twig' %}

{% block title %}
	Event
{% endblock %}

{% block body %}
	{% set isAdmin = false %}
	{% for member in hall.hallMembers %}
		{% if is_granted('hall_member_edit', member ) %}
			{% set isAdmin = true %}
		{% endif %}
	{% endfor %}
	{% set countEvent = 0 %}
	{% for events in eventCome %}
		{% if events.status == 3 %}
			{% set countEvent = countEvent + 1 %}
		{% endif %}
	{% endfor %}
	<div class="user-contain min-h-screen">
		<div class="flex justify-between w-flex">
			<form action="{{ path('app_hall_event', {'id': hall.id}) }}" method="post" name="all">
				<button type="submit" name="filter" value="all" {% if filterEvent == "all" %} class="border-2 border-blue-200 hover:border-blue-500 bg-blue-500 font-bold text-white rounded-lg p-2 duration-300" {% else %} class="border-2 border-blue-200 hover:border-blue-500 font-bold rounded-lg p-2 duration-300" {% endif %}>Toute mes dates</button>
			</form>

			<form action="{{ path('app_hall_event', {'id': hall.id}) }}" method="post" name="valid">
				<button type="submit" name="filter" value="valid" {% if filterEvent == "valid" %} class="border-2 border-blue-200 hover:border-blue-500 bg-blue-500 font-bold text-white rounded-lg p-2 duration-300" {% else %} class="border-2 border-blue-200 hover:border-blue-500 font-bold rounded-lg p-2 duration-300" {% endif %}>Dates validées</button>
			</form>

			<form action="{{ path('app_hall_event', {'id': hall.id}) }}" method="post" name="in-progress">
				<div class="relative">
					<button type="submit" name="filter" value="in-progress" {% if filterEvent == "in-progress" %} class="border-2 border-blue-200 hover:border-blue-500 bg-blue-500 font-bold text-white rounded-lg p-2 duration-300" {% else %} class="border-2 border-blue-200 hover:border-blue-500 font-bold rounded-lg p-2 duration-300" {% endif %}>Demandes de date</button>
					{% if countEvent > 0 %}
						<div class="bg-red-500 text-white py-1 px-2 rounded-full absolute bottom-7 left-36 text-xs ">
							{{ countEvent }}
						</div>
					{% endif %}
				</div>
			</form>
		</div>
		<div class="w-flex">

			<h4 class="title-option">Mes prochains événements</h4>
			{% include "hall/events-modules/_event_come.html.twig" with {eventCome:eventCome} %}
			
			<h4 class="title-option">Mes évènements passés</h4>
			<div class="card-event-list ">
				{% include "hall/events-modules/_event_past.html.twig" with {eventPast:eventPast} %}
			</div>

		</div>
	</div>
	{% include "hall/js/event_script.html.twig" with {hall:hall} %}


{% endblock %}
