{% extends 'base.html.twig' %}

{% block title %}Hall
{% endblock %}

{% block body %}


	<div class="user-contain px-5 lg:px-28 py-5  bg-slate-100">

		{% include "hall/show-modules/_header.html.twig" with {hall:hall} %}

		<container class="tab_project">
		{% if hall.hallInfo.ZipCode is null %}
			<div class="bg-red-100 mt-3  rounded-md border border-red-500">
				<p class="text-red-500 font-bold py-2 px-3">⚠️ Remplissez <a href="{{ path('app_hall_infos', {'id': hall.id}) }}" class="underline text-blue-700 hover:no-underline	hover:text-blue-500">vos informations</a> pour être référencé dans les recherches </p>
			</div>
		{% endif %}
			<section class="my-3">
				<div class="lg:flex lg:relative">
					<div class=" calendar bg-slate-700  text-white p-5 rounded-md lg:mr-3 mb-3 lg:mb-0">
						<div class="flex justify-between">
							<button id="prevMonth" class="arrow-left text-white rounded-full bg-slate-500 font-bold  px-2 mx-1">&#10094;</button>
							<div id="monthYearHeader"></div>
							<button id="nextMonth" class="arrow-right text-white rounded-full bg-slate-500 font-bold  px-2 mx-1">&#10095;</button>
						</div>
						<div id="calendrier"></div>
					</div>


					<div id="eventModal" class="modal  bg-white rounded-md shadow-md lg:absolute">
						<div class="modal-content"></div>
					</div>
					<section class="event-list-db bg-white rounded-md shadow-md w-full mt-3 lg:mt-0">
						<h4 class="bg-slate-700 text-white p-2 rounded-t-md">Mes demandes de date</h4>
						{% include "hall/show-modules/_add_date.html.twig" with {hall:hall} %}
					</section>
				</div>
				<div class="lg:flex lg:justify-between">
					<section class="md:w-full lg:w-1/2 lg:mr-3 bg-white rounded-md shadow-md mt-3 ">
						<div class="flex justify-between item-align bg-slate-700 relative rounded-t-md">
							<h4 class=" text-white p-2 ">Mes prochains events</h4>
							<div class="flex absolute right-2 top-2">
								<div id="arrow-left" class="arrow-left text-white rounded-full bg-slate-500 font-bold  px-2 mx-1">&#10094;</div>
								<div id="arrow-right" class="arrow-right text-white rounded-full bg-slate-500 font-bold  px-2 mx-1">&#10095;</div>
							</div>
						</div>
						{% set count = 0 %}
						{% for events in eventCome %}
							{% if events.status == 1 %}
								{% set count = count + 1 %}
							{% endif %}
						{% endfor %}
						{% set widthPercentage = count * 100 %}
						<div class="event-confirm-db-container">
							{% if count == 0 %}
								<div class="card-event-db bg-white ">
									<p class="text-center p-3">Aucun évènement prévus
									</p>
								</div>
							{% endif %}
							<div class=" event-confirm-db-content" style="width: {{ widthPercentage }}%">
								{% include "hall/show-modules/_come_events.html.twig" with {eventPast:eventPast} %}
							</div>
						</div>
					</section>
					<section class="md:w-full lg:w-1/2 lg:ml-3 bg-slate-200 rounded-md shadow-md mt-3 ">
						<h4 class="bg-slate-700 text-white p-2 rounded-t-md">Mon dernier events</h4>
						<div class=" flex justify-between">
							{% include "hall/show-modules/_last_events.html.twig" with {eventPast:eventPast} %}

						</div>
					</section>
				</div>
			</section>
			<section class="my-3">
				<div class="event-list-db bg-white rounded-md shadow-md mt-3 ">
					<h4 class="bg-slate-700 text-white p-2 rounded-t-md">Membres
					</h4>
					<div class="p-3">
							{% include "hall/show-modules/_members.html.twig" with {hall:hall} %}
						<a href="{{ path('app_hall_members', {'id': hall.id}) }}" class="text-slate-400 hover:text-blue-500 ">
							<button class="bg-slate-700 rounded-full px-2 pb-1 mr-4 text-white font-bold hover:bg-blue-500">+</button>Ajouter un nouveau membre</a>
					</div>
				</div>
			</section>
		</container>

	</div>

	{% include "hall/js/calendar.html.twig" %}
	{% include "hall/js/delete_notif.html.twig" with {hall:hall} %}


{% endblock %}
